@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(118, 201, 203);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
main {
    display: flex;
    margin: auto;
    width: 500px;
    min-height: 200px;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
}
main > input {
    width: 200px;
    height: 15px;
}
main > button {
    height: 20px;
    margin-left: 10px;
}
#dados {
    height: 150px;
    width: 150px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}